* {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #eb7040;
}

.linktree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: auto;
    gap: 20px;
}

.linktree img {
    height: 220px;
}

.linktree h2 {
    font-size: 2.5rem;
}

.linktree a {
    font-size: 0.9rem;
    text-decoration: none;
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    border-radius: 44px;
    background: linear-gradient(315deg, #1e1e1e, #191919);
    box-shadow: 5px 7px 7px 0px #1111117a;
}

.linktree a:hover{
    transition: 0.4s;
    background-image: none;
    background-color: #fff;
    color: black;
}

@media (min-width 1024px) {
    .linktree {
        width: 40vw;
    }
}