* {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(253, 253, 253);
}

body {
    background-color: #0e0e0e;
}

.linktree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: auto;
    gap: 20px;
}

.linktree img {
    margin-top: 10%;
    height: 220px;
}

.linktree h2 {
    font-size: 2.5rem;
}

.linktree a {
    font-size: 0.9rem;
    text-decoration: none;
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    border-radius: 2px;
    background: linear-gradient(315deg, #020202, #1a1a1ad2, #525252);
}

.linktree a:hover{
    transition: 0.4s;
    background-image: none;
    background-color: #fff;
    color: black;
}

@media (min-width 1024px) {
    .linktree {
        width: 40vw;
    }
}